@{
    ViewBag.Title = "About";
}

<h2>A demo using MVC3 MVCContrib portable areas to dynamically add features and modify menus to a web application</h2>
<p>
    The corresponding <a href="http://stackoverflow.com/questions/11023748/dynamically-extending-features-of-an-application">stackoverflow question</a>.
    <br />
    The project site is <a href="https://github.com/AkosLukacs/PluggablePortableAreas">https://github.com/AkosLukacs/PluggablePortableAreas</a>.
    <br />
    The MVC4 RC version if here: <a href="https://github.com/AkosLukacs/PluggablePortableAreasMVC4">https://github.com/AkosLukacs/PluggablePortableAreasMVC4</a>.
</p>
