@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    This is a short POC of adding and registering new MVCContrib Portable Areas to menu strucutres just by copying a dll to the web application's bin directory.
</p>
